.form{
    display: flex;
    font-family: 'Lora', serif;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    align-items: center;
}

#titleName{
    width: 500px;
    margin: 2px;
}

.textArea{
    width: 500px;
    margin: 2px;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button{
    margin-left: 25px;
    width: 80px;
  }
