
.h3{
    background-color: aquamarine;
    font-family: 'Lora', serif;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    margin-top: 20px;
    font-size: 30px;
    padding: 20px;
    
}

.formLbl{
    font-size: 30px;
    margin: 20px;
    margin-left: 100px;
}

.formText{
    font-size: 20px;
    margin: 20px;
    margin-left: 100px;
    width: 300px;
}
.formBtn{
    font-size: 20px;
    margin-left: 100px;
    width: 150px;
    text-align: center;
}